img{
    height: 5vh;
    width: 5vh;
    border-radius: 30%;
    margin-right: 3%;
}
label{
    margin-right: 3%;
    font-size: 90%;
}

button{
    width: 15vh;
    height: 4vh;
    border-radius: 20%;
    background-color:#204B5E;
    color: #FDFAC7;
}

.usuario{
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
}

.boton{
    margin-right: 3%;
}