<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <app-toolbar></app-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <div class="filter">
      <ion-select label="Tipo" 
                [multiple]="true"
                interface="popover"
                label-placement="floating"
                [(ngModel)]="filter"
                (ionChange)="filterProducts()"
                class = "custom-select"
    >
      <ion-select-option value="Juguetes y accesorios">Juguetes y accesorios</ion-select-option>
      <ion-select-option value="Ropa">Ropa</ion-select-option>
      <ion-select-option value="Limpieza">Limpieza</ion-select-option>
      <ion-select-option value="Alimento">Alimento</ion-select-option>
    </ion-select>
    </div>
    <div class="maincontainer">
      <ng-container *ngFor="let index of [1, 2, 3, 4, 5, 6, 7, 8]">
        <div class="thecard">
          <div class="thefront">
            <h1>Titulo del producto</h1>
            <img src="https://picsum.photos/200/300" alt="golden" srcset="">
          </div>
          <div class="theback">
            <h1>Back of Card</h1>
            <p>Caracteristicas</p>
            <ion-button expand="block">
              <ion-icon name="cart-outline" ></ion-icon>
            </ion-button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>

