<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <div class="header">
      <img id="img-logo" src="../../assets/img/logo_patitas.png" alt="logo">
      <div class="usuario">
        <p>Usuario</p>
        <img src="" alt="imagen usuario" srcset="">
        <a href="">Cerrar sesión</a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="categoria">
            <div class="card">
              <h3>JUGUETES Y ACCESORIOS</h3>
              <img src="../../assets/img/juguetes_photo.png" alt="juguetes" srcset="">
              <h4>Ver más</h4>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="categoria">
            <div class="card">
              <h3>LIMPIEZA</h3>
              <img src="../../assets/img/limpieza_photo.png" alt="limpieza" srcset="">
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div class="categoria">
            <div class="card">
              <h3>ROPA</h3>
              <img src="../../assets/img/ropa_photo.png" alt="ropa" srcset="">
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="categoria">
            <div class="card">
              <h3>ALIMENTO</h3>
              <img src="../../assets/img/alimento_photo.png" alt="alimento" srcset="">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

