<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <app-toolbar></app-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <div class="citas">
      <h1>Agendar una cita</h1>
      <form class="formulario" [formGroup]="citaForm">
        <table>
          <tr>
            <td>Nombre del paciente</td>
            <td>Propietario</td>
          </tr>
          <tr>
            <td><input type="text" class="nombre"   formControlName="name"/></td>
            <td><input type="text" class="propietario"   formControlName="propietario"/></td>
          </tr>
          <tr>
            <td>Fecha</td>
            <td>Hora</td>
          </tr>
          <tr>
            <td><input type="date"  formControlName="fecha"/></td>
            <td><input type="time"  formControlName="hora"/></td>
          </tr>
        </table>
        <h2>Tipo de servicio</h2>
        <select name="" id=""  formControlName="tipo">
          <option value="Corte de Pelo">Corte de pelo</option>
          <option value="Baño">Baño</option>
          <option value="Consulta">Consulta</option>
        </select>
        <br>
        <button type="submit" id="boton-agendar" (click)="addCita()">Agendar</button>
      </form>
    </div>
    <div class="citas_b" >
      <h1>Visualizar citas anteriores</h1>
      <div class="registro">
        <table class="historial">
          <tr>
            <td>Nombre del paciente</td>
            <td>Fecha</td>
            <td>Hora</td>
          </tr>
          <hr>
          <tr class="tarjeta" *ngFor="let cita of citas">
            <td>{{cita.name}}</td>
            <td>{{cita.fecha}}</td>
            <td>{{cita.hora}}</td>
          </tr>
          <hr> 
        </table>
      </div>
    </div>
  </div>
</ion-content>
