.main{
    display: flex;
    flex-direction: row;
    color: #FDFAC7;
    
}
.citas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #204B5E;
    width: 500px;
    height: 500px;
}

.citas_b{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #204B5E;
    width: 500px;
    height: 500px;
}

td{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

input{
    background: lightgray;
}

select{
    width: 40%;
    border-bottom:solid 5px #BAAB6A;
    background: #204B5E;
}

.observaciones{
    width:70%;
    border-bottom:solid 5px #BAAB6A;
    background: #204B5E;
}

button{
    color: #FDFAC7;
    margin: 20px;
    background: #49A89A;
    width: 50%;
    height: 40px;
    font-size: 20px;
}

.nombre{
    width: 150px;
    border-bottom:solid 5px #BAAB6A;
    background: #204B5E;
}

.propietario{
    width: 150px;
    border-bottom:solid 5px #BAAB6A;
    background: #204B5E;
}   

.formulario{
    border: solid 1px #49A89A;
    margin: 10px;
    height: 90%;
    margin-bottom: 30px;
}

.registro{
    border: solid 1px #49A89A;
    margin: 10px;
    width: 90%;
    height: 90%;
    margin-bottom: 30px;
}

.tarjeta{
    border: solid 1px #49A89A;
    margin-top: 10px;
}

.historial{
    margin: auto;
}