<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>addProduct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">addProduct</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <div class="main">
        <h2 class="header-text">Agregar Producto</h2>
        <div class="login">
          <form [formGroup]="productForm" (ngSubmit)="saveProduct()">

            <label class="custom-label">Nombre</label>
            <input type="text" formControlName="name" class="custom-input">

            <label class="custom-label">Precio</label>
            <input type="number" formControlName="price" class="custom-input">

            <label class="custom-label">Descripción</label>
            <textarea formControlName="description" class="custom-textarea"></textarea>

            <label class="custom-label">Imagen</label>
            <input type="file" accept="image/*" class="custom-input">
            
            <label class="custom-label">Tipo</label>
            <ion-select formControlName="type" class="custom-select">
              <ion-select-option value="Juguetes y Accesorios">Juguetes y Accesorios</ion-select-option>
              <ion-select-option value="Ropa">Ropa</ion-select-option>
              <ion-select-option value="Limpieza">Limpieza</ion-select-option>
              <ion-select-option value="Alimento">Alimento</ion-select-option>
            </ion-select>

            <button type="submit" [disabled]="!productForm.valid" class="custom-button">
              Guardar
            </button>

          </form>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
