<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>verCitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <div class="citas_b">
      <h1>Ver citas</h1>
      <h2>Hoy</h2>
      <div class="registro">
        <table class="historial">
          <tr>
            <td>Nombre del paciente</td>
            <td>Fecha</td>
            <td>Hora</td>
            <td>Acciones</td>
          </tr>
          <hr>
          <tr class="tarjeta">
            <td>Perrito</td>
            <td>01-01-2022</td>
            <td>10:00</td>
            <td><button class="atendida button">Atendida</button>
            <button class="cancelar button">Cancelar</button></td>
            
          </tr>
          <hr>
          <tr class="tarjeta">
            <td>Perrito</td>
            <td>01-01-2022</td>
            <td>10:00</td>
            <td><button class="atendida button">Atendida</button>
             <button class="cancelar button">Cancelar</button></td>
          </tr>
          <hr>
          <hr>
          <tr class="tarjeta">
            <td>Perrito</td>
            <td>01-01-2022</td>
            <td>10:00</td>
            <td><button class="atendida button">Atendida</button>
             <button class="cancelar button">Cancelar</button></td>
          </tr>
          <hr>
        </table>
        <table>

        </table>
      </div>
    </div>
  </div>

  
</ion-content>
